mat-card {
  margin-bottom: 20px;
  flex: 1 1 auto;
  margin: 1em;
  width: 300px;
  padding: 20px;
  height: 300px;
  cursor: pointer;
  transition: background-color 0.3s;
}

mat-card:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
