<div class="container">
  <h1>All 2023 Circuits</h1>

  <div class="view-switch">
    <button
      mat-icon-button
      (click)="viewMode = 'table'"
      [class.active]="viewMode === 'table'"
    >
      <mat-icon>view_headline</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="viewMode = 'card'"
      [class.active]="viewMode === 'card'"
    >
      <mat-icon>view_module</mat-icon>
    </button>
  </div>

  <div *ngIf="viewMode === 'table'">
    <app-grid *ngIf="viewMode === 'table'" [circuits]="circuits"></app-grid>
  </div>

  <div *ngIf="viewMode === 'card'" class="card-container">
    <app-card *ngFor="let circuit of circuits" [circuit]="circuit"></app-card>
  </div>
</div>
